@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: 70px;
    margin-bottom: 20px;
}
header > img {
    display: block;
    margin: auto;
    width: 15%;
    margin-bottom: 80px;
}



section {
    border: 2px solid rgba(0, 0, 0, 0.208);
    background-color: rgb(243, 238, 238);
    color: rgba(0, 0, 0, 0.679);
    margin-left: 70px;
    margin-right: 70px;
    margin-top: -60px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    height: 255px;
    margin: auto;
}

#nameuser {
    margin-top: 30px;
}

section > p{
    padding: 3px;
    white-space: nowrap;
}
.input {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border-color: rgba(188, 188, 188, 0.679);
}

#acessar {
    background-color: #00769d;
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: none;
    
}

#lembrar {
    margin-right:20px;
}

.lem-acess {
    margin-top: 40px;
}

footer {
    color: rgba(0, 0, 0, 0.679);
    margin-top: 80px;
    text-align: center;
    
}

footer a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.679);
}